meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Configuraci칩n
link(rel="stylesheet", href="./bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anaheim&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora")
link(rel="stylesheet", href="./fonts/font-awesome.min.css")
link(rel="stylesheet", href="./fonts/ionicons.min.css")
link(rel="stylesheet", href="./css/styles.min.css")
link(rel="stylesheet", href="./css/stilosRegistros.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
section.clean-hero
  div(style="height: 100%;background-position: center;background-size: cover;background-repeat: no-repeat;")
    h1(style="color: black;text-align: left;margin: 30px 30px;") Configuraci칩n
.container.bg-white(style="padding: 39px 5px;padding-top: 40px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;")
  .row
    .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
      form(method="post", style="background-image: url(./resources/contrase침as.png);")
        .form-group.mb-3
          a.btn.btn-primary(role="button", style="width: 240px;background: purple;", href="./trabajadorCambiarContrasena.html") Cambiar Contrase침a
        .form-group.mb-3
          a.btn.btn-primary(role="button", style="width: 250px;background:purple;", href="./trabajadorCambiarServicio.html") Cambiar servicio
        .row
          .col-md-6(style="margin-top: 20px;")
            a.btn.btn-primary(role="button", style="color: var(--bs-gray);background: var(--bs-white);", href="./trabajador.html")
              i.icon.ion-arrow-return-left(style="margin-right: 10px;")
              | Volver
script(src="./bootstrap/js/bootstrap.min.js")
script(src="./js/script.min.js")