meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Registrar
link(rel="stylesheet", href="./bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anaheim&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora")
link(rel="stylesheet", href="./fonts/font-awesome.min.css")
link(rel="stylesheet", href="./fonts/ionicons.min.css")
link(rel="stylesheet", href="./css/styles.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
section.position-relative.py-4.py-xl-5(style="background-image:url(./resources/fondo_registrar.png);height: 100%;")
  .container
    .row.
      
      
    .row
      //
        
                  aqui borramos el boton de usuaio 
                    .col-md-6.text-center(style="margin-top: 100px;")
  a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./registrarUsuario.html") USUARIO
| 
// ubicamos el boton del trabajador

.col-md-6.text-center(data-bss-hover-animate="pulse", style="margin-top: 100px;")
  a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./registrarTrabajador.html") TRABAJADOR
              
    .container.text-center
      a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./start.html") ATRAS
    script(src="./bootstrap/js/bootstrap.min.js")
    script(src="./js/script.min.js")
    section
      //
        
              aqui trataremos de colocar una especie de tarjeta que tenga como finalidad darle informacion al usuario spbre el registro que debe de realizar con el fin de darle un mejor aspecto al apartado de registro 
              
      .cuerpo_tarjeta
        //
          
                ahora lo que declaramos es la imagen que colocaremos en el encabezado de nuestra tarjeta 
        .imagen1
          img(src="./resources/registro_empleador.png", alt)
        //
           
                una vez declarada nuestra imagen para nuestra tarjeta debemos de colocar le un texto que nos describa 
                lo que hara cada boton 
        .descripcion
          b
            | REGÍSTRATE EN EL SIGUIENTE BOTÓN SI
            br
            | 
ERES UNA PERSONA QUE BUSCAs PERSONAL QUE SATISFAGAN ALGÚN SERVICIO EN ESPECIFICO POR DETERMINADO TIEMPO 
        .col-md-6.text-center(style="margin-top: 10px;")
          a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./registrarUsuario.html") USUARIO
      //
        
              aqui trataremos de colocar una especie de tarjeta que tenga como finalidad darle informacion al usuario spbre el registro que debe de realizar con el fin de darle un mejor aspecto al apartado de registro 
              
      .cuerpo_tarjeta2
        //
          
                ahora lo que declaramos es la imagen que colocaremos en el encabezado de nuestra tarjeta 
        .imagen2
          img(src="./resources/registro_empleador.png", alt)
        //
           
                una vez declarada nuestra imagen para nuestra tarjeta debemos de colocar le un texto que nos describa 
                lo que hara cada boton 
        .descripcion2
          b
            | REGÍSTRATE EN EL SIGUIENTE BOTÓN
            br
            | 
SI ERES UNA PERSONA QUE OFRECE SERVICIOS QUE BUSCA TENER UN INGRESO ADICIONAL 
        .col-md-6.text-center(data-bss-hover-animate="pulse", style="margin-top: 40px;")
          a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./registrarTrabajador.html") TRABAJADOR