doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Registro - Usuario
  link(rel='stylesheet' href='./bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Anaheim&display=swap')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lora')
  link(rel='stylesheet' href='./fonts/font-awesome.min.css')
  link(rel='stylesheet' href='./fonts/ionicons.min.css')
  link(rel='stylesheet' href='./css/styles.min.css')
  link(rel='stylesheet' href='./css/stilosRegistros.css' <='' head='')
section.position-relative.py-4.py-xl-5(style='background-image:url(./resources/fondo_registro.png);height: 100%;')
  .container.bg-white(style='padding-top: 10px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;background-image: url(./resources/fondo_registro3.png)')
    .row
      .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
        form(method='post')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Nombre
              br
            input#nombre.form-control(type='text' placeholder='Ingrese su nombre' style='margin-bottom: 20px; ' onchange='changePassword();')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Apellido
              br
            input#apellido.form-control(type='text' placeholder='Ingrese su apellido' style='margin-bottom: 20px;' onchange='changePassword();')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Contrase&ntilde;a
              br
            input#password.form-control(type='password' placeholder='Ingrese su contraseña' style='margin-bottom: 20px;' onchange='changePassword();')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Direcci&oacute;n
              br
            input#password.form-control(type='text' placeholder='Ingrese su dirección' style='margin-bottom: 20px;' onchange='changePassword();')
          div
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Recibo de servicios p&uacute;blicos:
              br
            input.form-control(type='file')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Celular
              br
            input#celular.form-control(type='tel' placeholder='Ingrese su número de celular' style='margin-bottom: 20px;' onchange='changePassword();')
          .form-group.mb-3
            label.form-label(style='margin-bottom: 10px;margin-top: 10px;color: #FFFFFF;')
              strong Correo Electr&oacute;nico
              br
            input#email.form-control(type='email' placeholder='Ingrese su dirección de correo electrónico' style='margin-bottom: 20px;' onchange='changePassword();')
          p
            a(href='./ingresar.html') &iquest;tengo cuenta? 
          .row
            .col-md-6(style='margin-top: 20px;')
              a.btn.btn-secondary.d-block.d-lg-flex.justify-content-lg-center.w-100(role='button' href='./registrar.html' style='background: var(--bs-gray);') CANCELAR
            .col-md-6(style='margin-top: 20px;')
              a#submitButton.btn.btn-primary.d-block.d-lg-flex.justify-content-lg-center.w-100(role='button' href='registrarUsuario2.html' style='background: var(--bs-gray);') CONTINUAR
  script(src='./bootstrap/js/bootstrap.min.js')
  script(src='./js/script.min.js')
