meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Ingresar
link(rel="stylesheet", href="./bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anaheim&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora")
link(rel="stylesheet", href="./fonts/font-awesome.min.css")
link(rel="stylesheet", href="./fonts/ionicons.min.css")
link(rel="stylesheet", href="./css/styles.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
section.position-relative.py-4.py-xl-5(style="background-image:url(./resources/imagenIngreso.png);height: 100%;")
  .container
    .row.
      
      
    .row
      //  aqui venian los botones que fueron reubicados en la seccion de las tarjetas que venimos trabjando donde estan los botones del usuario y trabajdor 
      //
        .col-md-6.text-center(style="margin-top: 100px;")
  a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./ingresarUsuario.html") USUARIO
.col-md-6.text-center(data-bss-hover-animate="pulse", style="margin-top: 100px;")
  a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./ingresarTrabajador.html") TRABAJADOR
                  
    .container.text-center
      a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./start.html") ATRAS
    script(src="./bootstrap/js/bootstrap.min.js")
    script(src="./js/script.min.js")
    // aqui hacemos las mismas tarjetas que venimos trabajando anteriormente 
    section
      //   aqui trataremos de colocar una especie de tarjeta que tenga como finalidad darle informacion al usuario spbre el registro que debe de realizar con el fin de darle un mejor aspecto al apartado de registro
      .cuerpo_tarjeta_ingresar
        //
             ahora lo que declaramos es la imagen que colocaremos en el encabezado de nuestra tarjeta
                
        .imagenIngresar
          img(src="./resources/registro_trabajador.png", alt)
        //     una vez declarada nuestra imagen para nuestra tarjeta debemos de colocar le un texto que nos describa lo que hara cada boton
        .descripcion_ingresar
          b
            | BIENVENIDO!! ES UN PLACER VOLVER A
            br
            | 
TENERTE POR AQUÍ YA SABES INGRESA CON TU USUARIO Y CONTRASEÑA SI ERES UNA PERSONA 
        .col-md-6.text-center(style="margin-top: 9px;")
          a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./ingresarUsuario.html") USUARIO
      // aqui trataremos de colocar una especie de tarjeta que tenga como finalidad darle informacion al usuario spbre el registro que debe de realizar con el fin de darle un mejor aspecto al apartado de registro
      .cuerpo_tarjeta_ingresar2
        //
          ahora lo que declaramos es la imagen que colocaremos en el encabezado de nuestra tarjeta 
                
        .imagenIngresar2
          img(src="./resources/registro_trabajador.png", alt)
        //      una vez declarada nuestra imagen para nuestra tarjeta debemos de colocar le un texto que nos describa  lo que hara cada boton
        .descripcion_ingresar2
          b
            | BIENVENIDO!! ES UN PLACER VOLVER A
            br
            | 
TENERTE POR AQUÍ, COMO ES COSTUMBRE, INGRESA CON TU USUARIO Y CONTRASEÑA SI ERES UN TRABAJADOR 
        .col-md-6.text-center(data-bss-hover-animate="pulse", style="margin-top: 9px;")
          a.btn.btn-primary(role="button", style="background: var(--bs-white);color: var(--bs-black);", href="./ingresarTrabajador.html") TRABAJADOR