meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Cambiar Contraseña
link(rel="stylesheet", href="./bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Anaheim&display=swap")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora")
link(rel="stylesheet", href="./fonts/font-awesome.min.css")
link(rel="stylesheet", href="./fonts/ionicons.min.css")
link(rel="stylesheet", href="./css/styles.min.css")
link(rel="stylesheet", href="./css/stilosRegistros.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
.container.bg-white(style="padding-top: 10px;padding-bottom: 40px;margin-right: 12px;margin-left: 12px;padding-left: 6px;padding-right: 6px;margin-top: 12px;background-image: url(./resources/fondo_registrar2_2.png);")
  .row
    .col-10.col-sm-10.col-md-10.offset-1.offset-sm-1.offset-md-1.text-start.align-content-md-center
      form(method="post")
        h1(style="color: white;margin-left: 20px;margin-top: 20px;") Cambio de Contraseña
        .form-group.mb-3
          label.form-label(style="margin-bottom: 10px;margin-top: 10px;color: white;")
            strong Contraseña Actual
          input.form-control(type="password", style="margin-bottom: 20px;", placeholder="Ingrese su contraseña actual")
        .form-group.mb-3
          label.form-label(style="margin-bottom: 10px;margin-top: 10px;color: white;")
            strong Nueva Contraseña
          input.form-control(type="password", style="margin-bottom: 20px;", placeholder="Ingrese la contraseña nueva")
        .form-group.mb-3
          label.form-label(style="margin-bottom: 10px;margin-top: 10px;color: white;")
            strong Confirmar nueva contraseña
          input.form-control(type="password", style="margin-bottom: 20px;", placeholder="Confirma la contraseña nueva")
        .row
          .col-md-6(style="margin-top: 20px;")
            a.btn.btn-primary.d-block.d-lg-flex.justify-content-lg-center.w-100#submitButton(role="button", href="./trabajador.html", style="background:blue;") Cambiar Contraseña
          .col-md-6(style="margin-top: 20px;")
            a.btn.btn-primary(role="button", style="color: var(--bs-gray);background: var(--bs-white);", href="./configTrabajador.html")
              i.icon.ion-arrow-return-left(style="margin-right: 10px;")
              | Volver
script(src="./bootstrap/js/bootstrap.min.js")
script(src="./js/script.min.js")